<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
     <link rel="stylesheet" href="Css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
     <nav class="containers">
            <h3>Gr<span class="Main_o">o</span>cify</h3>
        </div>
        <div class="Main_nav">
            <p>Home</p>
            <p>About Us</p>
            <p>Process</p>
            <p>Contact Us</p>
            </div>
        </div>
        <div class="Nav_logos">
            <div class="nav_input">
            <input placeholder="search" />
            <div class="incon">
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </nav>




   <div class="container">
    <div class="fruit-container">
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <img src="Css/images/apples.jpg" alt="apple" class="fruit_img">
        <h5 class="fruit_name">Red Apple</h5>
        <h5 class="fruit_price">$5.00</h5>
        <button class="fruit_button">Shop Now</button>
    </div>
</body>
</html>