<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocify Website</title>
    <link rel="stylesheet" href="Css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <nav class="container">
            <h3>Gr<span class="Main_o">o</span>cify</h3>
        </div>
        <div class="Main_nav">
            <p>Home</p>
            <p>About Us</p>
            <p>Process</p>
            <p>Contact Us</p>
            </div>
        </div>
        <div class="Nav_logos">
            <div class="nav_input">
            <input placeholder="search" />
            <div class="incon">
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </nav>



    <div class="content">
        <div class="head1">
            <p class="head_p">Exports Best Quality ...</p>
            <h1 class="head_h1">Tasty Organic</h1>
            <h1 class="head_h2"><span style="color:rgb(255, 123, 0);;">Fruits</span> & <span style="color:rgb(255, 123, 0);;">Veggies</span></h1>
            <h1 class="head_h3">In Your City</h1>
            <p class="head_p1">Bred for High Content of beneficial Substances.Our Products are <br>
            all Fresh and Healthy</p>
            <button class="btn1">Shop now</button>
        </div>
         <img src="Css/images/basket4.jpg" alt="Fruit Basket" width="400" class="content_img">
    </div>



    <!-- Shpo by Category -->

    <div class="shop">
        <div class="shop1">
            <h1><span style="color: rgb(255, 123, 0);">Shop</span> by Category</h1>
        </div>

        <div class="shop-container">
            <div class="one">
            <img src="Css/images/X.jpg" alt="fruits" class="shop-image">
            <h3 style="color: #002B5B;">Fruits</h3>
            <h4 class="shop-p">"Fresh and juicy fruits packed with vitamins and natural sweetness.Perfect for a healthy snack or adding flavor to your meals.</h4>
            <button class="shop-btn">See All</button>
            </div>
             <div class="two">
             <img src="Css/images/vegetables.jpg" alt="fruits" class="shop-image">
            <h3>Fruits</h3>
            <h4 class="shop-p">"Fresh and juicy fruits packed with vitamins and natural sweetness.Perfect for a healthy snack or adding flavor to your meals.</h4>
            <button class="shop-btn">See All</button>
            </div>
             <div class="three">
            <img src="Css/images/Meats.webp" alt="fruits" class="shop-image">
            <h3>Fruits</h3>
            <h4 class="shop-p">"Fresh and juicy fruits packed with vitamins and natural sweetness.Perfect for a healthy snack or adding flavor to your meals.</h4>
            <button class="shop-btn">See All</button>
            </div>
        </div>
    </div>
</body>
</html>